[package]
name = "linkme"
version = "0.3.0"
authors = ["David Tolnay <dtolnay@gmail.com>"]
license = "MIT OR Apache-2.0"
description = "Safe cross-platform linker shenanigans"
repository = "https://github.com/dtolnay/linkme"
documentation = "https://docs.rs/linkme"
readme = "README.md"
edition = "2021"
rust-version = "1.62"

[[test]]
name = "module_2015"
edition = "2015"

[dependencies]
linkme-impl = { version = "=0.3.0", path = "impl" }

[dev-dependencies]
rustversion = "1.0"
trybuild = { version = "1.0.49", features = ["diff"] }

[workspace]
members = ["impl", "tests/cortex", "tests/crate"]

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]
